{% extends 'base_home.html' %}
{% load staticfiles %}
<!DOCTYPE html>



<html lang="zh-CN"/>
{% block title %}AdaBoostClassifier模型{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="{% static 'js/jquery-3.2.1/jquery-3.2.1.js' %}"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
    .spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
    </style>
    <div class="page-header">
    <h3 align="center">AdaBoostClassifier模型
    </h3>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
               选择数据集
             </div>
            <div class="panel-body">
               <form role="form">
             <div class="form-group">
                 <select id="datasetSelect" class="form-control">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                 </select>

             </div>
              </form>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                数据划分
             </div>
            <div class="panel-body">
                 <form role="form">
             <div class="form-group">
             <select id="dataset_splite" class="form-control">
                 <option value="90">90%_train</option>
                 <option value="80">80%_train</option>
                 <option value="70">70%_train</option>
                 <option value="60">60%_train</option>
                 <option value="50">50%_train</option>
             </select>

             </div>
              </form>
             </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              数据分析
             </div>
            <div class="panel-body">
                单个因素分析：
                <br>
                <br>
                <input name="因素1" value= "age" type="radio"></span>年龄
                <input name="因素1" value= "gender" type="radio"></span>性别
                <input name="因素1" value="price" type="radio"></span>票价
                <input name="因素1" value="name" type="radio"></span>称呼
                <input name="因素1" value="cabin" type="radio"></span>船舱
                <input name="因素1" value="pclass" type="radio"></span>阶层
                <input name="因素1" value="parch" type="radio"></span>父母小孩数
                <input name="因素1" value="sibsp" type="radio"></span>堂兄妹数
                </br>
                <br>
                <button type="button"  onclick="factor_single_choice()" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal1">查看结果</button>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img id="img" width="580" height="300" src='{% static "media/Age.png" %}'/>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <br>
                <br>
                混合因素分析：
                <br>
                <br>
                <input name="因素n" value="FamilySize" type="radio"></span>家庭人口
                <input name="因素n" value="TicketGroup" type="radio"></span>票号
                </br>
                 <br>
                <button type="button" onclick="factor_muti_choice()" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal2">查看结果</button>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img id="img" width="580" height="300" src='{% static "media/TicketGroup.png" %}'/>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

             </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              超参数选择
             </div>
            <div class="panel-body">
                <label>n_estimators[10,200]:</label>
                <input id="n_estimators" type="number" class="form-control" value="10" min="10" max="200" step="10" style="width: 100px">
                <label>learning_rate:</label>
                <input id="learning_rate" type="number" class="form-control" value="0.5" min="0.5" max="1.5" step="0.1" style="width: 100px">
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">
              网格搜索
             </div>
            <div class="panel-body">
               选择超参数范围：
                <br>
                <div class="form-group" style="float: left; margin-left: 20px">
                <label>n_estimators[10,200]:</label>
                    <br>
                    <label>from</label>
                <input id="begin_n_estimators" type="number" class="form-control" value="10" min="10" max="200" step="10" style="width: 100px">
                     <label>to</label>
                <input id="end_n_estimators" type="number" class="form-control" value="200" min="10" max="200" step="10" style="width: 100px">
                    <label>选择间隔</label>
                    <input id="int_n_estimators" type="number" class="form-control" value="10" style="width: 100px"/>
               </div>

                <div class="form-group" style="float:left; margin-left: 20px">
                <label>learning_rate:</label>
                    <br>
                    <label>from</label>
                <input id="begin_learning_rate" type="number" class="form-control" value="0.5" min="0.5" max="1.5" step="0.1" style="width: 100px">
                    <label>to</label>
                <input id="end_learning_rate" type="number" class="form-control" value="1.5" min="0.5" max="1.5" step="0.1" style="width: 100px">
                    <label>选择间隔</label>
                    <input id="int_learning_rate" type="number" class="form-control" value="0.1" style="width: 100px"/>
                </div>


                <input type="button" onclick="butClick();" value="搜索结果" style="float: none " />
                    <br>
                    <br>
                 <div id="loading" style="display: none;">
                     <div class="progress progress-striped active" style="width: 200px">
                         <div class="progress-bar progress-bar-info" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" role="progressbar">
                             <span class="sr-only"></span>
                         </div>
                     </div>

                 </div>
                <div id="result" style="display: none;">
                    <table id="table" data-toggle="table" data-url="data.json">
                        <thead>
                           <tr>
                               <th data-field="n_estimators" >n_estimators</th>
                               <th data-field="learning_rate">learning_rate</th>
                               <th data-filed="score">score</th>
                           </tr>
                        </thead>
                    </table>


                </div>
                <script type="text/javascript">
                    function butClick(){
                        document.getElementById("loading").style.display = "block";

                        document.getElementById("result").style.display = "block";

                        grid_search();

                    }
                </script>
                </div>
         </div>


        <div class="panel panel-default">
            <div class="panel-heading">
              预测结果
             </div>
            <div class="panel-body">
                <button type="button" onclick="search()" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal">计算结果</button>
            </div>

            <div id="result2">
                结果显示位
            </div>
        </div>

     <div class="panel panel-default">
            <div class="panel-heading"> 随机森林模型学习曲线 </div>

            <div class="panel-body">
                <form role="form">

                    <br>

                        <div id="chartContainer" style="height: 200px; width: 50%;">


                        </div>
                    <script>
                     function show() {

                     var chart = new CanvasJS.Chart("chartContainer", {
                         theme: "light2", // "light1", "light2", "dark1", "dark2"
	                     animationEnabled: true,
                         title:{text: "学习曲线"
                         },
                         axisX: {
                             title: "训练样本",
                             //interval: 100,
                             // intervalType: "number",
                         },
                         axisY:{
                             title: "得分",
                         },
                         data: [{
                             type: "line",
                             markerSize: 12,
                             xValueFormatString: "###.#",
                             yValueFormatString: "0.##",
                             dataPoints: [
                                 //{ x: new Date(2016, 0, 1), y: 61, indexLabel: "gain", markerType: "triangle",  markerColor: "#6B8E23" },
                                 {x:50,y:0.85},
                                 {x:80,y:0.95},
                                 {x:100,y:0.85},
                             ]
                         }]
                     });
                     chart.render();
                     }
                     setInterval(show,3000);
                    </script>


                </form>
            </div>
    </div>

    </div> <!-- /container -->
{% endblock %}
{%  block script %}
  <script>
      function search() {

          var dataset = $("#datasetSelect option:selected");  <!-- /获取数据集编号 -->
          var dataset_num = dataset.val();
          console.log(dataset_num);

          var splite_rate = $("#dataset_splite option:selected"); <!-- /获取数据集划分比例 -->
          var splite_rate = splite_rate.val();
          console.log(splite_rate);

          var n_estimators = $('#n_estimators').val();              <!-- /获取超参数 n_estimators -->

          var learning_rate = $("#learning_rate").val();     <!-- /获取超参数 learning_rate -->


          {## TODO:网格搜索模块---------->#}
          {## TODO:提交选择信息到后台---------->#}
          $.ajax({
              url:"/ajax_recv/",
              type:"POST",
              data:{'alg':'AdaBootClassifier','dataset_num':dataset_num,'split_rate':splite_rate,
                    'n_estimators':n_estimators,'learning_rate':learning_rate},
              dataType:"json",
              success:function (data) {
                  document.getElementById("result2").innerText = "precision:" + data['best_score'];
                  alert(data['best_score']);
              }
          })



      }
      function factor_single_choice() {
          var info = $("input[name='因素1']:checked").val();  <!-- 获取单选框选中的值 -->
          console.log(info);
          switch(info){
             case "age":
                  document.getElementById('img').src='{% static "media/Age.png" %}';
                  break;
              case "gender":
                  document.getElementById('img').src='{% static "media/Sex.png" %}';
                  break;
              case "price":
                  document.getElementById('img').src='{% static "media/Fare.png" %}';
                  break;
              case "name":
                  document.getElementById('img').src='{% static "media/Title.png" %}';
                  break;
              case "cabin":
                  document.getElementById('img').src='{% static "media/Cabin.png" %}';
                  break;
              case "pclass":
                  document.getElementById('img').src='{% static "media/Pclass.png" %}';
                  break;
              case "parch":
                  document.getElementById('img').src='{% static "media/Parch.png" %}';
              default:
                  document.getElementById('img').src='{% static "media/Cabin.png" %}';
                  break;
          }
      }
      function factor_muti_choice() {
          var info = $("input[name='因素n']:checked").val();  <!-- 获取单选框选中的值 -->
          console.log(info);
          if(info == 'FamilySize')
              document.getElementById('img2').src = '{% static "media/FamilySize.png" %}';
          if (info == 'TicketGroup')
              document.getElementById('img2').src = '{% static "media/TicketGroup.png" %}';
      }

      {## TODO:网格搜索模块---------->#}
      function grid_search() {
            let begin_n_estimators = $('#begin_n_estimators').val();
            let end_n_estimators = $('#end_n_estimators').val();
            let begin_learning_rate = $('#begin_learning_rate').val();
            let end_learning_rate = $('#end_learning_rate').val();

            $.ajax({
                url:"/grid_search/",
                type:"POST",
                data:{'alg':'AdaBootClassifier',
                    'begin_n_estimators':begin_n_estimators,'end_n_estimators':end_n_estimators,
                    'begin_learning_rate':begin_learning_rate,'end_learning_rate':end_learning_rate},
                dataType:"json",
                success:function (data) {
                    console.log(data['table']);
                }
            })
          $("#table").bootstrapTable({
               method:"post",
               url:"/grid_search/",
               cache:false,
               striped:true,
               pagination:true,
               pageList:[10,20],
               pageSize:10,
               pageNumber:1,
               sidePagination:'server',
               queryParams:function(params){
                   return{
                  pageSize: params.limit,
                  offset: params.offset,
                  sort: params.sort,
                  sortOrder:params.order,
                  dataId: $("#dataId").val()

              }

          },
               sortName:'id',
               sortOrder:'desc',
               columns:[
              {
                  field:'n_estimators',
                  title:'n_estimators',
                  align:'center',
                  valign:'middle'
              },{
                  field:'learning_rate',
                  title:'learning_rate',
                  align:'center',
                  valign:'middle'

              },{
                  field:'score',
                  title:'score',
                  align:'center',
                  valign:'middle'

              }
          ]
      })
      }
  </script>
{%  endblock %}
